{% extends 'base.html' %}

{% block body %}
<form class="container my-4" method="POST" action="/update/{{upd_cal.id}}">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Product</label>
      <input type="text" name="product" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Rate</label>
      <input type="text" name="rate" class="form-control" id="exampleInputPassword1">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}